<!doctype html>
<html>
<head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<div id="app">
    <div class="container">

        <div class="col-lg-6 offset-lg-3">
            <div class="card bg-info" >
                <div class="card-header text-white">
                        My Chat App
                </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" v-for="message in messages">
                            {{ message }}
                        </li>

                    </ul>
                <div class="card-body">

                     <form @submit.prevent="send">
                        <div class="form-group">
                            <input type="text" class="form-control" v-model="newmessage" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                     </form>
                </div>
            </div>
        </div>
</div>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>

<script>
    var socket = io();

    let app = new Vue ({
        el: '#app',
        data: {
            newmessage : null,
            messages :  []
        },
        methods: {
            send() {
                this.messages.push(this.newmessage)
                socket.emit('chat-message',this.newmessage)
                this.newmessage = null
            }

        },
        created(){
            socket.emit('Created','Taher')
            socket.on('Created',(data)=>{
                console.log(data)
            })
            socket.on('chat-message',(data)=>{
                this.messages.push(data)
            })
        }

    })

</script>
</body>
</html>